# Ignore custom user settings
/custom_settings.vim
/GAPWORDS

# Ignore temporary folders/files
/sessions/
.netrwhist
tags
*~
*.swp

# Ignore dictionaries
*.spl
*.sug

# OS files
Thumbs.db
.DS_Store
*.lnk
